.App {
  text-align: center;
}

.main {
  width: calc(100% - 50px);
  justify-content: center;
  margin: 0 auto;
}

.project {
  height: 300px;
  position: relative;
}

.actions {
  font-size: 10pt;
  position: absolute;
  bottom: 0;
}