@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.main {
  width: calc(100vw - 50px);
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.project {
  min-height: 500px;
  position: relative;
}

.projectname {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: -20pt;
}

.projectskills {
  font-size: 9pt;
  font-style: italic;
}

.projectpreview {
  font-size: 12pt;
  margin-top: -20px;
}

.actions {
  font-size: 10pt;
  width: 100px;
  height: 10pt;
  position: absolute;
  bottom: 0;
}